<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="userSQL">
 
 	<resultMap type="user" id="userResult">
 		<result column="NAME" property="name"/>
 		<result column="ID" property="id"/>
 		<result column="PWD" property="PWD"/>
 	</resultMap>
 	
 	<insert id ="write" parameterType="user.bean.UserDTO">
 		INSERT INTO USERTABLE values(#{name},#{id},#{pwd})
 	</insert>
 	
 <!--<select id="getUserList" resultType="user.bean.UserDTO"> 같은 이름을 찾아서 매핑을 해준다. 
 		select * from usertable
 	</select>
 	-->
 	<!-- 만약 UserDTO의 필드명과 오라클 컬럼명이 틀린 경우(상단 resultMap 으로 id 적용해준다) -->
 	<select id="getUserList" resultType="user">
 		select * from usertable
 	</select>
 	
 	<select id="getUser" parameterType="String" resultType="user">
 		select * from usertable where id=#{id}
 	</select>
 	
 	<update id="update" parameterType="java.util.Map">
 		update usertable set name=#{name}, pwd=#{pwd} where id=#{id} 
 	</update>
 	
 	<delete id="getUserDelete" parameterType="String">
 		delete usertable where id=#{id}
 	</delete>
 	
 	<select id="search" parameterType="java.util.Map" resultType="user">
 		select * from usertable where name like '%'||#{name}||'%' and id like '%'||#{id}||'%'
 		
 		<!-- select * from usertable where ${columnName} like '%'||#{value}||'%' 
 										'$'문자열로 인식 "name" 또는 "id"로 인식 가능함-->
 		<!-- xml(if문)
 			select * from usertable where
 			<if test="columnName == 'name'">
 				name like '%'|| #{value} ||'%'
 			</if>
 			<if test="columnName == 'id'">
 				id like '%'|| #{value} ||'%'
 			</if>
 		 -->
 		 
 		 <!-- xml(choose문)
 			select * from usertable where
 			<choose>
 				<when test="columnName == 'name'">
 					name like '%'|| #{value} ||'%'
 				</when>
 				<otherwise> 
 					id like '%'|| #{value} ||'%'
 				</otherwise>
 			</choose>
 		 -->
 	</select>
 </mapper>